*{
    margin: 0px;
    padding: 0px;
}

/* Nav-bar styles */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: #850000e7;
}

.menus{
    display: flex;
}
.menus li{
    list-style-type: none;
    display: flex;
    color: white;
    margin-right: 20px;
}

/* Banner Styles */

.banner-container{
    height: 100vh;
    background-image: url('./asset/image/background.jpg'),linear-gradient(45deg, rgb(58, 58, 58), rgb(82, 82, 82));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner-info{
    margin: 25%;
    font-family: 'Times New Roman';
}

.banner-info h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
}

.digital-color-red{
    color: rgb(182, 6, 6);
}

.banner-info p{
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.banner-btn{
    border: none;
    padding: 10px 35px;
    margin-right: 18px;
    font-size: 18px;
}

.red-btn{
    background-color: rgb(182, 6, 6);
    color: white;
}

/* Service Section */
.sevice-section-info{
    background-image: url('./asset/image/bg-3.jpg'),linear-gradient(45deg, rgb(29, 28, 28), rgb(51, 43, 43));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.service-info{
    padding: 80px 50px;
    width: 40%;
    align-items: last baseline;
}

.service-info button{

    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    margin-bottom: 15px;
    color: rgb(95, 95, 95);
    font-size: large;
}

.service-info h1, p{
    width: 95%;
    margin-bottom: 30px;
    text-align: left;

}

.service-info li{
    list-style-type: none;
}

.service-info h1{
    font-size: 35px;
}
.author-info{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.author-info img{
    
    border-radius: 45%;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-right: 2px solid rgba(197, 2, 2, 0.658);
    padding: 10px 50px 10px 0px;
    margin-right: 15px;
}
.icon{
    width: 70px;
    margin-bottom: 10px;
}

.box-container-up{
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.box-container-down{
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.box{
    text-align: center;
    height: 120px;
    width: 120px;
    padding: 50px;
    background-color: white;
    color: black;
    margin: 10px;
    margin: 10px;
    border-radius: 5px;
    margin: auto;
}